# KiCad Auto-Backups
*-backups/
*.bak
*.bck
*.kicad_sch-bak
*.kicad_pcb-bak
*.sch-bak
*-save.pro
*-save.kicad_pcb
_autosave-*
*.tmp

# KiCad User Preferences (Do NOT sync across teammates)
*.kicad_prl
fp-info-cache

# Python (for the Footprint Generator tool)
__pycache__/
*.py[cod]
*$py.class
